[Unit]
Description=Launch the ameize client daemon
Type=idle

[Service]
ExecStart=/home/pi/ameize/mgmt/boot/ameize-client-daemon.sh
WorkingDirectory=/home/pi/ameize/mgmt/boot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
