[Unit]
Description=Execute jack
After=sound.target

[Service]
Type=simple
ExecStart=/home/pi/ameize/mgmt/boot/ameize-jack-daemon.sh
WorkingDirectory=/home/pi/ameize/mgmt/boot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=audio
LimitMEMLOCK=infinity
LimitRTPRIO=75
LimitNICE=-19

[Install]
WantedBy=multi-user.target
